<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>EmploiWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Accueil</display-name>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>fr.emploi.Accueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCountry</display-name>
    <servlet-name>AddCountry</servlet-name>
    <servlet-class>fr.emploi.controleur.AddCountry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCountry</servlet-name>
    <url-pattern>/addCountry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Liste</display-name>
    <servlet-name>Liste</servlet-name>
    <servlet-class>fr.emploi.controleur.Liste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Liste</servlet-name>
    <url-pattern>/liste</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerPays</display-name>
    <servlet-name>SupprimerPays</servlet-name>
    <servlet-class>fr.emploi.controleur.SupprimerPays</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerPays</servlet-name>
    <url-pattern>/supprimerPays</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailsPays</display-name>
    <servlet-name>DetailsPays</servlet-name>
    <servlet-class>fr.emploi.controleur.DetailsPays</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailsPays</servlet-name>
    <url-pattern>/detailsPays</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecupererPays</display-name>
    <servlet-name>RecupererPays</servlet-name>
    <servlet-class>fr.emploi.controleur.RecupererPays</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecupererPays</servlet-name>
    <url-pattern>/recupererPays</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierPays</display-name>
    <servlet-name>ModifierPays</servlet-name>
    <servlet-class>fr.emploi.controleur.ModifierPays</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierPays</servlet-name>
    <url-pattern>/modifierPays</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormModification</display-name>
    <servlet-name>FormModification</servlet-name>
    <servlet-class>fr.emploi.controleur.FormModification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormModification</servlet-name>
    <url-pattern>/form_Modif</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnregistrerImage</display-name>
    <servlet-name>EnregistrerImage</servlet-name>
    <servlet-class>fr.emploi.controleur.EnregistrerImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnregistrerImage</servlet-name>
    <url-pattern>/enregistrerImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Form_Jsp</display-name>
    <servlet-name>Form_Jsp</servlet-name>
    <servlet-class>fr.emploi.nav.Form_Jsp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Form_Jsp</servlet-name>
    <url-pattern>/form_Photos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPays</display-name>
    <servlet-name>AddPays</servlet-name>
    <servlet-class>fr.emploi.controleur.AddPays</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPays</servlet-name>
    <url-pattern>/addPays</url-pattern>
  </servlet-mapping>
</web-app>